body {
	background-color: #fff;
}

#canvas{
    border: 1px solid;
    border-color: red;
    background-color: palegoldenrod;
    width: 280px;
    height: 280px;
    cursor: pointer;
}

.bar{
	background-color: palegreen;
}